*{
  background-color: transparent;
}
.book-container{
  width: 60%;
  display:flex;
  flex-direction: row;
  
}

.book-poster{
  height: 500px;
  width: 340px;
  object-fit: cover;
}
.book-specs{
  
  padding:35px;
  padding-top:70px;
  background-color: rgb(189, 186, 186);
}
.book-author{
  font-size:18px;
  color:blue
}


.book-rating{
  font-size: 20px;
}
 .book-name{
   font-size: 24px;
   margin: 0;
   max-width: 70%;
 }

 .body{
   margin: 20px;
  
 }
.book-list{
  display: flex;
  gap:30px;
  flex-wrap: wrap;
  justify-content: space-around;
}
